PhoneAppSmartVigi/PhoneAppSmartVigi/Service References/ServiceReference/ServicePhone1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceSmartVigi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceSmartVigi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UtilisateurPhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtilisateurPhone" nillable="true" type="tns:UtilisateurPhone" />
  <xs:complexType name="ArrayOfRepertoirePhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RepertoirePhone" nillable="true" type="tns:RepertoirePhone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRepertoirePhone" nillable="true" type="tns:ArrayOfRepertoirePhone" />
  <xs:complexType name="RepertoirePhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDContact" type="xs:int" />
      <xs:element minOccurs="0" name="IDUtilisateur" type="xs:int" />
      <xs:element minOccurs="0" name="NTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priorite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepertoirePhone" nillable="true" type="tns:RepertoirePhone" />
</xs:schema>