PhoneAppSmartVigi/PhoneAppSmartVigi/Service References/ServiceReference/ServicePhone.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25143/ServicePhone.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceSmartVigi" />
  <xs:import schemaLocation="http://localhost:25143/ServicePhone.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BLL" />
  <xs:element name="LoginPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceSmartVigi" minOccurs="0" name="LoginPhoneResult" nillable="true" type="q1:UtilisateurPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepertoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDUtilisateur" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepertoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceSmartVigi" minOccurs="0" name="GetRepertoireResult" nillable="true" type="q2:ArrayOfRepertoirePhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoIntervention">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BLL" minOccurs="0" name="interv" nillable="true" type="q3:InterventionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInterventionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>