PhoneAppSmartVigi/PhoneAppSmartVigi/Service References/ServiceReference/ServicePhone3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InterventionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateHeure" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDContact" type="xs:int" />
      <xs:element minOccurs="0" name="IDUtilisateur" type="xs:int" />
      <xs:element minOccurs="0" name="UrgenceLevel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterventionDto" nillable="true" type="tns:InterventionDto" />
</xs:schema>