PhoneAppTest/PhoneAppTest/Service References/ServiceReference1/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25143/MainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25143/MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25143/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLL" />
      <xsd:import schemaLocation="http://localhost:25143/MainService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMainService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_LoginPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginPhone" />
  </wsdl:message>
  <wsdl:message name="IMainService_LoginPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetRepertoire_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepertoire" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetRepertoire_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepertoireResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_UpdateRepertoire_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRepertoire" />
  </wsdl:message>
  <wsdl:message name="IMainService_UpdateRepertoire_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRepertoireResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetInterventions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInterventions" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetInterventions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInterventionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/Login" message="tns:IMainService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/LoginResponse" message="tns:IMainService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/LoginPhone" message="tns:IMainService_LoginPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/LoginPhoneResponse" message="tns:IMainService_LoginPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepertoire">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetRepertoire" message="tns:IMainService_GetRepertoire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetRepertoireResponse" message="tns:IMainService_GetRepertoire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRepertoire">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/UpdateRepertoire" message="tns:IMainService_UpdateRepertoire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/UpdateRepertoireResponse" message="tns:IMainService_UpdateRepertoire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInterventions">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetInterventions" message="tns:IMainService_GetInterventions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetInterventionsResponse" message="tns:IMainService_GetInterventions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMainService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginPhone">
      <soap:operation soapAction="http://tempuri.org/IMainService/LoginPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepertoire">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetRepertoire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRepertoire">
      <soap:operation soapAction="http://tempuri.org/IMainService/UpdateRepertoire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInterventions">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetInterventions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="http://localhost:25143/MainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>