SmartVigilance/SmartVigilance/Service References/ServiceReference/MainService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25143/MainService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="UtilisateurDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Photo" nillable="true" type="q1:Image" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtilisateurDto" nillable="true" type="tns:UtilisateurDto" />
  <xs:complexType name="ArrayOfRepertoireDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RepertoireDto" nillable="true" type="tns:RepertoireDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRepertoireDto" nillable="true" type="tns:ArrayOfRepertoireDto" />
  <xs:complexType name="RepertoireDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDContact" type="xs:int" />
      <xs:element minOccurs="0" name="IDUtilisateur" type="xs:int" />
      <xs:element minOccurs="0" name="NTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Photo" nillable="true" type="q2:Image" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priorite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepertoireDto" nillable="true" type="tns:RepertoireDto" />
  <xs:complexType name="ArrayOfInterventionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InterventionDto" nillable="true" type="tns:InterventionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterventionDto" nillable="true" type="tns:ArrayOfInterventionDto" />
  <xs:complexType name="InterventionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateHeure" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDContact" type="xs:int" />
      <xs:element minOccurs="0" name="IDUtilisateur" type="xs:int" />
      <xs:element minOccurs="0" name="UrgenceLevel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterventionDto" nillable="true" type="tns:InterventionDto" />
</xs:schema>